.container-fluid{
  background-color: #3eb489;
  padding: 20px;
}

.header{
  background-color: seagreen;
  padding: 20px;
  height:200px;
  border: 2px solid black;
}

.nav{
  background-color: lightgreen;
  padding: 20px;
  height:200px;
  border: 2px solid black;
}

.content{
  background-color: aquamarine;
  padding: 20px;
  height:200px;
  border: 2px solid black;
}

.aside{
  background-color: aqua;
  padding: 20px;
  height:200px;
  border: 2px solid black;
}

.promo{
  background-color: teal;
  padding: 20px;
  height: 250px;
  border: 2px solid black;
}

.footer{
  color: white;
  background-color: black;
  padding: 20px;
  height:200px;
  border: 2px solid black;
}

@media screen and (min-width : 375px){
  .container-fluid{
    background-color: white;
  }
  .header{
    background-color: brown;
  }

  .nav{
    background-color: yellow;
  }

  .content{
    background-color: black;
  }

  .aside{
    background-color: #206040;
  }

  .promo{
    background-color: #209802;
  }
  .footer{
    background-color: #867932;
  }
}

@media screen and (min-width : 768px){
  .container-fluid{
    background-color: purple;
  }

  .header{
    background-color: violet;
  }

  .nav{
    background-color: magenta;
  }

  .content{
    background-color: hotpink;
  }

  .aside{
    background-color: red;
  }

  .promo{
    background-color: orange;
  }
  .footer{
    background-color: pink;
  }
}
